
.text-heading{
    text-align: center;
    color: rgb(116, 114, 114);
    position: relative;
}

.bg-video{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .3 ; 
}

.bg-video-content{
     height: 100%;
     width: 100%;
     object-fit: cover;
}

.legal-owner{
    position: absolute;
    bottom: 0px;
    right: 0px;

    font-size: 15px;
    font-family: fantasy;
}