.main-body{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.list-item{
    position: relative;
    width: 500px;
    background-color: transparent;
    border: 2px solid rgb(116, 114, 114);
    margin-bottom:5px ;
    padding: 10px 0 10px 10px;

    display: flex;
    justify-content: space-between;
}

.text-main{
    color: rgb(116, 114, 114);
    font-size: 20px;
}

.list-btn{
    background-color: transparent;
    font-size: 20px;
    border: none;
    outline: none;
    transition: all 1s;
}
.list-btn:hover{
    color: red;
    transform:scale(1.7);
}